body {
    font-family: arial, sans-serif;
    margin-left: 50px;
    margin-right: auto;
}


td {
    vertical-align: text-top;
    text-align: center;
    padding: 3px;
}

td.day {
    text-align: right;
}

.year {
    color: #A02020;
    text-align: center;
    font-size: 42px;
}


.month {
    text-align: center;
    color: #1010A0;
    border-bottom: medium solid;
    border-color: black;
}



.holiday {
    background-color: pink;
}


.weekend {
    background-color: gray;
}

table {
    border-collapse: collapse;
}

tr.payperiodstart td {
    border-top: thin solid;
    border-color: black;
}

